
@model Post
<div id="PostsDiv">
    <div class="panel panel-primary">
        <div class="panel-heading">
            @Model.User.UserName
            <span id="PostDate">@Model.PostDate</span>
        </div>
        <div class=" panel-body">
            @Model.Content;
        </div>
        <div class="panel-footer">
            <span class="glyphicon glyphicon-heart"></span> @Model.Likes.Count
            <span class="glyphicon glyphicon-comment"></span> @Model.Responses.Count
            <a class="LinkToPost" asp-action="Post" asp-controller="Home" asp-route-id="@Model.Id"><span class="glyphicon glyphicon-eye-open"></span></a>
        </div>
    </div>
</div>


<style>
    #PostDate {
        float: right;
    }

    #PostsDiv {
        width: 55%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 8px;
    }

    .glyphicon {
        margin-left: 5px;
        margin-right: 5px;
    }

    .glyphicon-eye-open {
        float: right;
    }

    .LinkToPost {
        color: #333;
    }

        .LinkToPost:link {
            text-decoration: none;
        }

        .LinkToPost:visited {
            text-decoration: none;
        }

        .LinkToPost:hover {
            text-decoration: none;
            color: #333;
        }

        .LinkToPost:active {
            text-decoration: none;
        }
</style>