
@inject IPostService postService
    <div id="PostsDiv">
        @foreach (var post in postService.Posts)
        {
            <div id="LinkToPostDiv">
                <a class="LinkToPost" asp-action="Post" asp-controller="Home" asp-route-id="@post.Id">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            @post.User.UserName
                            <span id="PostDate">@post.PostDate</span>
                        </div>
                        <div class=" panel-body">
                            @post.Content;
                        </div>
                        <div class="panel-footer">
                            <span class="glyphicon glyphicon-heart"></span> @post.Likes.Count
                            <span class="glyphicon glyphicon-refresh"></span> @post.Sharings.Count
                            <span class="glyphicon glyphicon-comment"></span> @post.Responses.Count
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>


<style>
    #PostDate
    {
        float:right;
    }
    #PostsDiv {
        width: 55%;
        margin-left:auto;
        margin-right: auto;
        margin-top: 8px;
    }
    .glyphicon
    {
        margin-left: 5px;
        margin-right:5px;
    }
    .panel:hover {
        background-color: #5bc0de;
    }
    .LinkToPost {
        color: #333;
    }
    .LinkToPost:link
    {
        text-decoration: none;
    }
    .LinkToPost:visited {
        text-decoration: none;
    }
        .LinkToPost:hover {
            text-decoration: none;
            color: #333;
        }
    .LinkToPost:active {
        text-decoration: none;
    }
</style>